.navbar {
  position: sticky;
  top: 0;
  margin-bottom: rem-calc(40);
  z-index: 100;
}

.link {
  display: flex;
  gap: rem-calc(16);
  margin: rem-calc(80) auto;
  width: rem-calc(1170);
  padding-left: rem-calc(5);

  .linkStyleHome {
    @include typography('title-14PX', 'regular');
    color: $Text2;
    opacity: 50%;
  }
  .linkStyle {
    @include typography('title-14PX', 'regular');
    color: $Text2;
  }
}

.mainContent {
  margin: 0 auto rem-calc(140);
  max-width: rem-calc(1170);
  padding: 0 rem-calc(5);

  .emptyDisplay {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem-calc(20);

    img {
      width: rem-calc(209);
      height: auto;
    }
    p {
      @include typography('title-20PX', 'medium');
    }
  }

  .cartItems {
    display: flex;
    flex-wrap: wrap;
    gap: rem-calc(24);
    justify-content: space-between;

    .content {
      width: rem-calc(800);
      display: flex;
      gap: rem-calc(8);
      flex-direction: column;

      .checkedAll {
        width: 100%;
        height: rem-calc(64);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: rem-calc(8) rem-calc(8) 0 0;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
        padding: 0 rem-calc(20);

        .checked {
          display: flex;
          gap: rem-calc(16);
          align-items: center;

          input {
            width: rem-calc(20);
            height: rem-calc(20);
            cursor: pointer;
            &:checked {
              background-color: $Button1;
            }
          }
          label {
            @include typography('title-14PX', 'bold');
            color: $Text2;
          }
        }

        .delete {
          @include typography('title-14PX', 'bold');
          color: $Secondary2;
          cursor: pointer;
        }
      }

      .list {
        display: flex;
        flex-direction: column;
        gap: rem-calc(8);
        // width: 100%;

        .item {
          width: 100%;
          display: flex;
          gap: rem-calc(16);
          padding: rem-calc(20);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);

          .checklist {
            width: rem-calc(20);
            height: rem-calc(20);
            flex-shrink: 0;
            cursor: pointer;
          }

          .imgDescription {
            display: flex;
            gap: rem-calc(16);
            width: 100%;

            .image {
              width: rem-calc(80);
              height: rem-calc(80);
              object-fit: contain;
              cursor: pointer;
            }

            .titlePriceAction {
              display: flex;
              gap: rem-calc(4);
              flex: 1 1 0;
              flex-direction: column;
              justify-content: space-between;
              width: 100%;
              // width: rem-calc(616);

              .titlePrice {
                display: flex;
                gap: rem-calc(16);
                justify-content: space-between;
                width: 100%;

                .title {
                  display: flex;
                  flex: 1 1 0;
                  flex-direction: column;
                  gap: rem-calc(8);

                  h3 {
                    @include typography('title-14PX', 'medium');
                    color: $Text2;
                    cursor: pointer;
                  }
                  p {
                    @include typography('title-14PX', 'regular');
                    color: rgba(0, 0, 0, 0.5);
                  }
                }
                .priceBox {
                  .price {
                    @include typography('title-16PX', 'bold');
                    color: $Text2;
                  }
                }
              }
              .action {
                height: rem-calc(67);
                display: flex;
                gap: rem-calc(16);
                align-items: start;
                align-self: self-end;
              }
            }
          }
        }
      }
    }
    .totalPrice {
      height: fit-content;
      width: rem-calc(300);
      min-width: rem-calc(200);
      position: sticky;
      top: 130px;
      display: flex;
      flex-direction: column;
      border-radius: rem-calc(12);
      gap: rem-calc(16);
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
      padding: rem-calc(24) 0;
      align-items: center;

      .contentPrice {
        display: flex;
        flex-direction: column;
        gap: rem-calc(16);

        p {
          @include typography('title-16PX', 'bold');
          color: $Text2;
        }

        .total {
          display: flex;
          gap: rem-calc(4);
          justify-content: space-between;
          align-items: center;
          padding-bottom: rem-calc(24);
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);

          span {
            @include typography('title-14PX', 'medium');
            color: $Text2;
          }
          h3 {
            @include typography('title-16PX', 'bold');
            color: $Text2;
          }
        }
      }
    }
  }
}

.open {
  position: fixed;
  z-index: 200;
  padding: 100px 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;

  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  .dialog {
    margin: auto;
    width: rem-calc(384);
    height: rem-calc(198);
    display: flex;
    flex-direction: column;
    padding: rem-calc(24);
    background-color: $BG;
    text-align: center;
    border-radius: rem-calc(8);
    animation: zoom 0.6s ease-out;

    h3 {
      @include typography('title-20PX', 'bold');
      color: $Text2;
    }
    p {
      @include typography('title-14PX', 'bold');
      color: $Text2;
      margin-top: rem-calc(8);
      opacity: 50%;
    }

    .buttonDialog {
      display: flex;
      gap: rem-calc(8);
      margin-top: rem-calc(32);
      width: 100%;
      justify-content: center;
    }
  }

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    &:hover,
    &:focus {
      color: $Text1;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
