.sliderContainer {
  width: 100%;

  .slider {
    width: 100%;
    height: auto;
  }
  .images {
    cursor: pointer;
    img {
      object-fit: contain;
      width: 100%;
      height: auto;
    }
  }
}
