.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  min-height: rem-calc(40);
  padding: 0 clamp(1.5rem, 3.79vw, 3rem);
  border-radius: rem-calc(4);
  text-align: center;
  color: $Text;
  @include typography('title-16PX', 'medium');

  &.primary {
    background-color: $Button2;
    border: none;

    &:hover {
      background-color: $HoverButton;
    }

    &:disabled {
      background-color: #d9dcdd;
      border: none;
    }
  }

  &.secondary {
    background-color: $Button1;
  }

  &.optional {
    background-color: none;
    border: 1px solid rgba(219, 68, 68, 0.5);
    color: $Secondary2;
    &:hover {
      opacity: 50%;
      color: $Text1;
    }
  }

  &:disabled {
    pointer-events: none;
  }
}
