.navbar {
  position: sticky;
  top: 0;
  margin-bottom: rem-calc(40);
  z-index: 100;
}

.mainContent {
  max-width: rem-calc(1170);
  margin: rem-calc(80) auto rem-calc(140);
  padding: 0 rem-calc(5);

  .link {
    display: flex;
    gap: rem-calc(16);
    margin: rem-calc(80) auto;

    .linkStyle {
      @include typography('title-14PX', 'regular');
      color: $Text2;
      opacity: 50%;
    }
    .linkStyleActive {
      @include typography('title-14PX', 'regular');
      color: $Text2;
    }
    .tag {
      @include typography('title-14PX', 'regular');
      color: $Text2;
    }
  }

  .products {
    display: flex;
    flex-direction: column;
    gap: rem-calc(80);
    .title {
      display: flex;
      flex-direction: column;
      gap: rem-calc(20);
      padding-left: rem-calc(5);

      .boxAndTag {
        display: flex;
        gap: rem-calc(16);
        align-items: center;
        .box {
          width: rem-calc(20);
          height: rem-calc(40);
          background-color: $Secondary2;
          border-radius: rem-calc(4);
        }
        .tag {
          @include typography('title-16PX', 'semibold');
          color: $Secondary2;
        }
      }
      h3 {
        @include typography('heading-36PX', 'semibold');
        color: $Text2;
      }
    }

    .browseByCategory {
      display: flex;
      gap: rem-calc(30);
      flex-wrap: wrap;
      // padding-bottom: rem-calc(60);
      // border-bottom: 1px solid rgba(0, 0, 0, 0.3);

      .boxCategory {
        flex: 1 1 0;
        min-width: rem-calc(120);
        max-width: rem-calc(170);
        height: rem-calc(145);
        border-radius: rem-calc(4);
        border: 1px solid rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: rem-calc(16);
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

        img {
          width: rem-calc(56);
          height: rem-calc(56);
          width: 100%;
        }

        .category {
          @include typography('title-16PX', 'regular');
          color: $Text2;
        }
      }
    }

    .productsGrid {
      display: flex;
      flex-wrap: wrap;
      gap: rem-calc(30);

      .noCategoriesProduct {
        @include typography('title-20PX', 'medium');
        color: $Secondary2;
        margin: 0 auto;
      }
    }
  }
}
