.content {
  position: relative;
  width: rem-calc(100);
  height: rem-calc(30);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: rem-calc(4);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: rem-calc(4);
  align-items: center;

  .decrease {
    display: flex;
    padding: rem-calc(4);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;

    .decreaseButton {
      width: rem-calc(12);
      border: rem-calc(1.5) solid $Button;
    }
    .disabled {
      border-color: $Text1;
    }
  }

  .increase {
    display: flex;
    padding: rem-calc(4);
    background-color: $Secondary2;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    .increaseButton {
      width: rem-calc(16);
      height: auto;
    }
  }

  .input {
    padding: 0 rem-calc(4);
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      outline: none;
      border: none;
      width: 100%;
      @include typography('title-16PX', 'medium');
      appearance: none;
      text-align: center;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type='number'] {
      appearance: textfield;
    }
  }
  .error {
    position: absolute;
    top: 100%;
    margin-top: rem-calc(2);
    @include typography('title-12PX', 'regular');
    color: $Secondary2;
    right: 0;
    white-space: nowrap;
  }
}
