.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.mainContent {
  margin-block: clamp(3.75rem, 9.48vw, 7.5rem);
  .link {
    display: flex;
    gap: rem-calc(16);
    margin-bottom: clamp(3.75rem, 9.48vw, 7.5rem);

    .linkStyleHome {
      @include typography('title-14PX', 'regular');
      color: $Text2;
      opacity: 50%;
    }
    .linkStyle {
      @include typography('title-14PX', 'regular');
      color: $Text2;
    }
  }

  .tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: clamp(1.88rem, 4.74vw, 3.75rem);
    .boxMoveToBagButton {
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: rem-calc(4);
      cursor: pointer;
      color: $Text2;
      @include typography('title-16PX', 'medium');
      padding: rem-calc(8) rem-calc(24);
      &:hover {
        color: $Text;
        background-color: $Secondary2;
        border-color: $HoverButton;
      }
    }
    .buttonMove {
      color: $Text2;
      @include typography('title-16PX', 'medium');
    }
  }

  .emptyDisplay {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem-calc(20);

    img {
      width: rem-calc(209);
      height: auto;
    }
    p {
      @include typography('title-20PX', 'medium');
    }
  }

  .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: clamp(0.75rem, 1.9vw, 1.5rem);

    .card {
      gap: rem-calc(16);
      display: flex;
      flex-direction: column;
      transition: transform 0.2s, box-shadow 0.2s;
      cursor: pointer;
      flex: 1;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      }

      .backgroundImage {
        height: auto;
        border-radius: rem-calc(4);
        background-color: $Secondary;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        gap: rem-calc(14);
        padding-top: rem-calc(14);
        justify-content: end;

        .remove {
          position: absolute;
          top: rem-calc(12);
          right: rem-calc(12);

          transition: 0.3s ease;
          &:hover {
            scale: (1.2);
          }
        }

        .boxImage {
          width: rem-calc(180);
          height: rem-calc(180);
          display: flex;
          justify-content: center;
          align-items: center;
          .image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: 0.3s;
            &:hover {
              opacity: 0.7;
            }
          }
        }
        .addToCartButton {
          width: 100%;
          height: rem-calc(40);
          background-color: $Button;
          border-radius: 0 0 rem-calc(4) rem-calc(4);
          @include typography('title-16PX', 'medium');
          color: #ffffff;
          cursor: pointer;
          text-align: center;
          transition: background-color 0.2s;

          &:hover {
            background-color: $Secondary2;
          }
        }
      }
      .cardContent {
        display: flex;
        flex-direction: column;
        gap: rem-calc(8);
        padding: 0 rem-calc(5);
        justify-content: space-between;

        h3 {
          @include typography('title-16PX', 'medium');
          color: #000000;
        }
        .category {
          @include typography('title-12PX', 'regular');
          color: $Text2;
          opacity: 50%;
        }
        .price {
          @include typography('title-16PX', 'medium');
          color: $Secondary2;
        }
      }
    }
  }
  .relatedProducts {
    display: flex;
    flex-direction: column;
    gap: clamp(1.88rem, 4.74vw, 3.75rem);
    margin-top: clamp(3.75rem, 6.32vw, 5rem);
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .boxAndTag {
        display: flex;
        gap: clamp(0.5rem, 1.26vw, 1rem);
        align-items: center;
        .box {
          width: rem-calc(20);
          height: rem-calc(40);
          background-color: $Secondary2;
          border-radius: rem-calc(4);
        }
        .tagRelatedProduct {
          @include typography('title-16PX', 'semibold');
          color: $Secondary2;
        }
      }

      .boxSeeAll {
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: rem-calc(4);
        cursor: pointer;
        padding: rem-calc(8) rem-calc(24);
        color: $Text2;
        @include typography('title-16PX', 'medium');
        &:hover {
          color: $Text;
          background-color: $Secondary2;
          border-color: $HoverButton;
        }
      }
    }

    .productsGrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      gap: clamp(0.75rem, 1.9vw, 1.5rem);

      .noProductRelated {
        @include typography('title-20PX', 'medium');
        color: $Secondary2;
        text-align: center;
      }
    }
  }
}
