header {
  width: 100%;
  background-color: $Button;
  // margin-bottom: rem-calc(24);

  .topHeader {
    width: 100%;
    height: rem-calc(48);
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    gap: rem-calc(16);

    .text {
      display: flex;
      gap: rem-calc(8);
      color: $Text;
      align-items: center;
      justify-content: center;
      width: 100%;

      p {
        @include typography('title-14PX', 'regular');
        @media (max-width: 768px) {
          @include typography('title-12PX', 'regular');
        }
      }

      span {
        color: $Text;
        @include typography('title-14PX', 'semibold');
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          color: $Button1;
        }
        @media (max-width: 768px) {
          @include typography('title-12PX', 'semibold');
        }
      }
    }

    select {
      background-color: $Button;
      border: none;
      color: $Text;
      max-width: rem-calc(78);
      @include typography('title-14PX', 'semibold');
      cursor: pointer;

      &:hover {
        color: $Button1;
      }
      @media (max-width: 768px) {
        @include typography('title-12PX', 'semibold');
      }
    }
  }
}
