.navbar {
  position: sticky;
  top: 0;
  margin-bottom: rem-calc(32);
  z-index: 100;
  @media (max-width: 1024px) {
    margin-bottom: 0;
  }
}

.mainContent {
  margin-block: clamp(3.75rem, 9.48vw, 7.5rem);

  .products {
    display: flex;
    flex-direction: column;
    gap: clamp(1.88rem, 4.74vw, 3.75rem);
    .title {
      display: flex;
      flex-direction: column;
      gap: clamp(0.63rem, 1.58vw, 1.25rem);

      .boxAndTag {
        display: flex;
        gap: clamp(0.5rem, 1.26vw, 1rem);
        align-items: center;
        .box {
          width: clamp(0.63rem, 1.58vw, 1.25rem);
          height: clamp(1.25rem, 3.16vw, 2.5rem);
          background-color: $Secondary2;
          border-radius: rem-calc(4);
        }
        span {
          @include typography('title-16PX', 'semibold');
          color: $Secondary2;
        }
      }
      h3 {
        @include typography('heading-36PX', 'semibold');
        font-size: clamp(1.5rem, 2.84vw, 2.25rem);
        line-height: clamp(1.5rem, 2.37vw, 1.88rem);
        color: $Text2;
      }
    }
  }
}
