.header {
  background-color: $BG;
  // border-bottom: 1px solid $Text1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .navbar {
    height: rem-calc(57);
    max-width: rem-calc(1170);
    margin: 0 auto;
    display: flex;
    gap: rem-calc(70);
    justify-content: space-between;
    align-items: center;
    padding-top: rem-calc(40);
    padding-bottom: rem-calc(40);

    .hamburger {
      display: none;
      padding-left: rem-calc(5);
    }

    .logoNav {
      display: flex;
      gap: rem-calc(90);
      align-items: center;

      .iconLogo {
        height: rem-calc(57);
        cursor: pointer;
        padding-left: rem-calc(5);

        &:hover {
          scale: (1.1);
        }
      }

      ul {
        display: flex;
        gap: rem-calc(48);
        li {
          position: relative;
          display: inline-block;
          padding-bottom: rem-calc(3);

          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: $Text1;
            transition: width 0.3s ease-in-out;
          }

          &:hover::before {
            width: 100%;
          }

          .link {
            @include typography('title-16PX', 'regular');
            color: $Text2;
            &:hover {
              color: $Secondary2;
            }
          }
        }
      }
    }

    .headerActions {
      display: flex;
      gap: rem-calc(24);
      align-items: center;

      .searchBar {
        display: flex;
        gap: rem-calc(34);
        background-color: $Secondary;
        border-radius: rem-calc(4);
        align-items: center;
        justify-content: center;
        padding: rem-calc(7) rem-calc(12) rem-calc(7) rem-calc(20);
        &:hover {
          border: 1px solid $Secondary2;
        }

        input {
          background-color: transparent;
          @include typography('title-12PX', 'regular');
          color: $Text2;
          border: none;
          outline: none;
        }

        img {
          cursor: pointer;
          &:hover {
            background-color: $Secondary2;
          }
        }
      }

      .action {
        display: flex;
        gap: rem-calc(16);
        align-items: center;
      }
    }
  }

  @media (max-width: 768px) {
    .navbar {
      gap: rem-calc(50);
      .hamburger {
        display: flex;
        gap: rem-calc(40);
      }

      .logoNav {
        display: none;
      }
    }
  }
}
