.toastContainer {
  max-width: rem-calc(600);
  height: rem-calc(40);
  padding: rem-calc(12) rem-calc(16);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $Secondary2;

  .message,
  .ok {
    @include typography('title-12PX', 'medium');
    color: $Primary;
  }
  .ok {
    border: none;
  }
}
