.footer {
  width: 100%;
  background-color: $Button;
  // position: fixed;
  // bottom: 0;

  .footerContainer {
    display: flex;
    flex-direction: column;

    .footerContent {
      display: flex;
      margin: clamp(2.5rem, 6.32vw, 5rem) 0 clamp(1.88rem, 4.74vw, 3.75rem);
      gap: clamp(1.25rem, 3.16vw, 2.5rem);
      justify-content: space-between;
      flex-wrap: wrap;

      .frame1 {
        display: flex;
        flex-direction: column;
        gap: clamp(0.5rem, 1.26vw, 1rem);
        .headerFrame1 {
          display: flex;
          flex-direction: column;
          gap: clamp(0.75rem, 1.9vw, 1.5rem);
          .logoTitle {
            display: flex;
            flex-direction: column;
            gap: clamp(1rem, 1.97vw, 1.5rem);
            img {
              width: rem-calc(120);
              cursor: pointer;

              &:hover {
                scale: (1.1);
              }
            }
            a {
              @include typography('title-20PX', 'medium');
              font-size: clamp(0.88rem, 1.58vw, 1.25rem);
              line-height: clamp(1.31rem, 2.21vw, 1.75rem);
              color: $Text;
              &:hover {
                color: $Button1;
              }
            }
          }

          p {
            @include typography('title-16PX', 'regular');
            font-size: clamp(0.75rem, 1.31vw, 1rem);
            line-height: clamp(1.13rem, 1.9vw, 1.5rem);
            color: $Text;
          }
        }

        .inputIcon {
          width: 100%;
          display: flex;
          gap: rem-calc(16);
          border: 1px solid $Text;
          border-radius: rem-calc(4);
          justify-content: space-between;
          padding: rem-calc(8);
          input {
            @include typography('title-16PX', 'regular');
            font-size: clamp(0.75rem, 1.31vw, 1rem);
            line-height: clamp(1.13rem, 1.9vw, 1.5rem);
            color: $Text;
            opacity: 40%;
            background-color: transparent;
            border: none;
            outline: none;
            width: rem-calc(200);
          }
          img {
            cursor: pointer;
          }
        }
      }
      .frame2 {
        display: flex;
        flex-direction: column;
        gap: clamp(0.75rem, 1.9vw, 1.5rem);
        h3 {
          @include typography('title-20PX', 'medium');
          font-size: clamp(0.88rem, 1.58vw, 1.25rem);
          line-height: clamp(1.31rem, 2.21vw, 1.75rem);
          color: $Text;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 100%;
            height: 1px;
            background-color: $Text;
          }
        }
        .address {
          display: flex;
          flex-direction: column;
          gap: clamp(0.5rem, 1.26vw, 1rem);
          p,
          a {
            @include typography('title-16PX', 'regular');
            font-size: clamp(0.75rem, 1.31vw, 1rem);
            line-height: clamp(1.13rem, 1.9vw, 1.5rem);
            color: $Text;
          }
          a:hover {
            color: $Button1;
          }
        }
      }
      .frame3,
      .frame4 {
        display: flex;
        flex-direction: column;
        gap: clamp(0.75rem, 1.9vw, 1.5rem);
        h3 {
          @include typography('title-20PX', 'medium');
          font-size: clamp(0.88rem, 1.58vw, 1.25rem);
          line-height: clamp(1.31rem, 2.21vw, 1.75rem);
          color: $Text;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 100%;
            height: 1px;
            background-color: $Text;
          }
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: clamp(0.5rem, 1.26vw, 1rem);
          li {
            a {
              @include typography('title-16PX', 'regular');
              font-size: clamp(0.75rem, 1.31vw, 1rem);
              line-height: clamp(1.13rem, 1.9vw, 1.5rem);
              color: $Text;
              &:hover {
                color: $Button1;
              }
            }
          }
        }
      }

      .frame5 {
        display: flex;
        flex-direction: column;
        gap: clamp(0.75rem, 1.9vw, 1.5rem);
        .wrapDownload {
          display: flex;
          flex-direction: column;
          gap: clamp(0.75rem, 1.9vw, 1.5rem);
          h3 {
            @include typography('title-20PX', 'medium');
            font-size: clamp(0.88rem, 1.58vw, 1.25rem);
            line-height: clamp(1.31rem, 2.21vw, 1.75rem);
            color: $Text;
            position: relative;

            &::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: -4px;
              width: 100%;
              height: 1px;
              background-color: $Text;
            }
          }
          .mapIconDownload {
            display: flex;
            flex-direction: column;
            gap: rem-calc(8);
            p {
              @include typography('title-12PX', 'medium');
              color: $Text;
              opacity: 70%;
            }
            img {
              width: rem-calc(170);
            }
          }
        }
        .iconSosmed {
          display: flex;
          gap: rem-calc(24);

          .icon {
            cursor: pointer;
            &:hover {
              scale: 1.1;
            }
          }
        }
      }
    }
  }
  .copyright {
    padding-top: rem-calc(16);
    padding-bottom: rem-calc(8);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    .copyrightContent {
      display: flex;
      gap: clamp(0.5rem, 1.26vw, 1rem);
      opacity: 60%;
      justify-content: center;
      align-items: center;
      p {
        @include typography('title-16PX', 'regular');
        font-size: clamp(0.75rem, 1.31vw, 1rem);
        line-height: clamp(1.13rem, 1.9vw, 1.5rem);
        color: $Primary;
      }
    }
  }
}
