.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.mainContent {
  margin-block: clamp(3.75rem, 9.48vw, 7.5rem);
  .link {
    display: flex;
    gap: rem-calc(16);
    margin-bottom: clamp(3.75rem, 9.48vw, 7.5rem);

    .linkStyle {
      @include typography('title-14PX', 'regular');
      color: $Text2;
      opacity: 50%;
      text-align: center;
      // white-space: nowrap;
    }
    .tag {
      @include typography('title-14PX', 'regular');
      color: $Text2;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .contentWrap {
    display: flex;
    gap: clamp(1.88rem, 4.74vw, 3.75rem);
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .boxImageDetail {
      flex: 6 0 rem-calc(320);
      max-height: rem-calc(570);
      background-color: $Secondary;
      border-radius: rem-calc(4);
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
      margin: 0 auto;
      .imageDetail {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .detail {
      display: flex;
      flex-direction: column;
      gap: rem-calc(24);
      flex: 4 0 rem-calc(320);

      .containProductDetail {
        display: flex;
        flex-direction: column;
        gap: clamp(0.5rem, 1.31vw, 1rem);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);

        h3 {
          @include typography('heading-24PX', 'semibold');
          font-size: clamp(1.25rem, 1.9vw, 1.5rem);
          line-height: clamp(1.25rem, 1.9vw, 1.5rem);
          color: $Text2;
        }
        .price {
          @include typography('heading-24PX', 'regular');
          font-size: clamp(1.25rem, 1.9vw, 1.5rem);
          line-height: clamp(1.25rem, 1.9vw, 1.5rem);
          color: $Text2;
        }
        .descriptionProduct {
          @include typography('title-14PX', 'regular');
          font-size: clamp(0.75rem, 1.11vw, 0.88rem);
          line-height: clamp(1.13rem, 1.66vw, 1.31rem);
          color: $Text2;
          margin-bottom: rem-calc(24);
        }
      }
      .action {
        display: flex;
        gap: clamp(0.5rem, 1.31vw, 1rem);
        flex-wrap: wrap;

        .wishlist {
          width: rem-calc(40);
          height: rem-calc(40);
          border: 1px solid rgba(0, 0, 0, 0.5);
          border-radius: rem-calc(4);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .relatedProducts {
    display: flex;
    flex-direction: column;
    gap: rem-calc(60);
    margin-top: rem-calc(80);

    .boxAndTag {
      display: flex;
      gap: rem-calc(16);
      align-items: center;
      .box {
        width: rem-calc(20);
        height: rem-calc(40);
        background-color: $Secondary2;
        border-radius: rem-calc(4);
      }
      .tagRelatedProduct {
        @include typography('title-16PX', 'semibold');
        color: $Secondary2;
      }
    }
    .productsGrid {
      display: flex;
      flex-wrap: wrap;
      gap: rem-calc(30);
    }
  }
}
