.navbar {
  position: sticky;
  top: 0;
  margin-bottom: rem-calc(32);
  @media (max-width: 1024px) {
    margin-bottom: 0;
  }
  z-index: 100;
}

.mainContent {
  margin-block: clamp(3.75rem, 9.48vw, 7.5rem);

  .link {
    display: flex;
    gap: rem-calc(16);
    margin-bottom: clamp(3.75rem, 9.48vw, 7.5rem);

    .linkStyle {
      @include typography('title-14PX', 'regular');
      color: $Text2;
      opacity: 50%;
    }
    .linkStyleActive {
      @include typography('title-14PX', 'regular');
      color: $Text2;
    }
  }

  .notFound {
    display: flex;
    flex-direction: column;
    gap: clamp(1.25rem, 3.16vw, 2.5rem);
    text-align: center;
    h1 {
      @include typography('heading-110PX', 'medium');
      font-size: clamp(3.38rem, 8.69vw, 6.88rem);
      line-height: clamp(4rem, 9.09vw, 7.19rem);
      color: #000000;
    }
    p {
      @include typography('title-16PX', 'regular');
      font-size: clamp(0.75rem, 1.31vw, 1rem);
      line-height: clamp(1.13rem, 1.9vw, 1.5rem);
      color: $Text2;
    }
    .button {
      margin-top: clamp(1.25rem, 3.16vw, 2.5rem);
    }
  }
}
