$Primary: #ffffff;
$Primary1: #363738;
$Secondary: #f5f5f5;
$Secondary1: #fefaf1;
$BG: #ffffff;
$Text: #fafafa;
$Text1: #7d8184;
$Text2: #000000;
$Button: #000000;
$Secondary2: #db4444;
$Button1: #00ff66;
$Button2: #db4444;
$HoverButton: #e07575;
$HoverButton1: #a0bce0;
